<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>index</title>
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=PT+Sans&family=Poppins:wght@300&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abel">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Actor">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amiko">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bitter:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Footer-Clean.css">
    <link rel="stylesheet" href="assets/css/Header-Blue-1.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Header-Dark.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<link href="https://fonts.googleapis.com/css2?family=Peddana&display=swap" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<title>Norozo</title>
</head>
<style>
    img {
        margin-bottom: 2%;
    }
    
    body {
        font-family: 'Poppins';
    }
    
    .box {
        margin-top: 20%;
        width: 80%;
    }
    
    .inps {
        margin-top: 3%;
        width: 50%;
        border-radius: 6px;
        border-style: solid;
        border-color: black;
        height: 40px;
        text-align: center;
    }
    
     ::placeholder {
        font-family: 'Poppins';
        text-align: center;
    }
    
    .inps1 {
        margin-top: 3%;
        width: 50%;
        border-radius: 6px;
        border-style: solid;
        border-color: black;
        height: 40px;
        text-align: center;
    }
    
    .btn1 {
        width: 55%;
        margin-top: 2%;
    }
    
    .btn2 {
        width: 45%;
        margin-top: 3%;
    }
    
    .small {
        width: 15%;
    }
    
    .heading {
        margin-top: 2%;
        margin-bottom: 5%;
        font-size: 3vh;
        font-family: 'Sofia';
    }
    
    .dropdown {
        width: 55%;
        margin-top: 3%;
        border-color: black;
    }
    
    .in {
        display: table;
        width: 100%;
    }
    
    input {
        text-align: left;
    }
    
    .row {
        margin-top: 2%;
    }
    
    .text {
        height: 400px;
    }
</style>

<body>
    <nav class="navbar navbar-light navbar-expand-xl sticky-top visible navbar-expand-lg navbar-color" style="background: linear-gradient(135deg, #172a74, #21a9af);;color: rgb(255,255,255);filter: grayscale(0%);">
        <div class="container-fluid">
            <!-- Start: navbar-toggle --><button data-toggle="collapse" data-target="#Navbar" class="navbar-toggler col-xs-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <!-- End: navbar-toggle -->
            <!-- Start: logo-navbar -->
            <!-- <div class="col-xs-11 ml-auto mr-auto content-center navbar-brand"> -->
            <a href="/index" class="navbar-brand col-xs-11 ml-auto mr-auto content-center">
                <img src="logo.png" style="width: 150px" />
            </a>
            <!-- </div> -->
            <!-- End: logo-navbar -->
            <!-- Start: navbar-list -->
            <div class="col-lg collapse navbar-collapse visible navbar-font" id="Navbar">

                <ul class="navbar-nav ml-auto mr-auto">
                    <li class="nav-item"><a class="btn btn-link btn-lg text-black-50 mr-auto ml-auto" href="/home"><span class="white">Home</span></a></li>

                    <li class="nav-item"><a class="btn btn-link btn-lg text-black-50 mr-auto ml-auto" href="/accounts"><span class="white">Accounts</span></a></li>
                    <li class="nav-item"> <a type="submit" class="btn btn-link btn-lg text-black-50 mr-auto ml-auto" href="/loans"><span class="white">Loans</span></a></li>
                    <li class="nav-item"><a class="btn btn-link btn-lg text-black-50 mr-auto ml-auto" href="/investment"><span class="white">Investments</span></a></li>
                    <li class="nav-item"><a class="btn btn-link btn-lg text-black-50 mr-auto ml-auto" href="/hispay"><span class="white">Payments</span></a></li>
                    <li class="nav-item">
                        <form action="/logout" method="POST">
                            <input id="loginButton" class="btn-lg btn btn-primary  ml-3" type="submit" value="Logout >">
                        </form>
                    </li>
                </ul>
            </div>
            <!-- End: navbar-list -->
        </div>
    </nav>
    <div class="container">
        <% if (msg){ %>
            <h4>Cannot send message! Retry after Sometime!</h4>
            <%}%>

                <center>
                    <div class="box">

                        <span class="heading">Schedule A Meeting</span><br><br>
                        <form method="POST" action="/send">
                            <div class="form-row">

                                <div class="form-group col-md-8">
                                    <input type="date" class="form-control" id="txtDate" min="2020-11-04" name="date" value="" placeholder="Account Number" required>
                                </div>
                                <div class="form-group col-md-4">
                                    <input type="time" class="form-control" id="timex" name="time" min="9:30:00" max="18:30:00" value="" placeholder="Amount" required>
                                </div>

                            </div>
                            <div class="form-row">

                                <div class="form-group col-md-12">
                                    <textarea type="text" class="form-control  text" name="text" value="" placeholder="Write on what you want to Enquire!" required></textarea>
                                </div>


                            </div>





                            <br>

                            <button class="btn btn-dark btn1 " id="submitbt">Schedule Meet ></button>


                        </form>
                        <form action="/" method="GET">
                            <button class="btn btn-danger btn1" id="submitbt">< Cancel </button></form>
                </center>
                </div>
</body>

</html>
<script>
    x()

    function x() {
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();

        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        document.getElementById('txtDate').min = maxDate
        document.getElementById('timex').min = "9:30"
        document.getElementById('timex').max = "18:30"

    }
</script>